<section class="phx-hero">
  <h1>Welcome to Phoenix!</h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <div>
    <button id="post">post</button>
  </div>
  <div class="chat">
  </div>
</section>
